section.mounting
    .container.mounting__container
        .separator.mounting__separator
        h3.mounting__title Процесс выполнения монтажа
        .mounting__services
            .mounting__services-item
                .mounting__services-number 1
                .mounting__services-description Рассчёт предварительной заявки
            .mounting__services-item
                .mounting__services-number 2
                .mounting__services-description Замер объекта нашим инженером
            .mounting__services-item
                .mounting__services-number 3
                .mounting__services-description Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы 
            .mounting__services-item
                .mounting__services-number 4
                .mounting__services-description Изготовление Дымохода, покраска (если требуется)
            .mounting__services-item
                .mounting__services-number 5
                .mounting__services-description Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация
            .mounting__services-item
                .mounting__services-number 6
                .mounting__services-description Гарантийное обслуживание по соответствующем сроку