section.mounting
    .container
        .separator.mounting__separator
        h2.section-title Процесс выполнения монтажа
        ul.mounting__services
            - var arr = ['Рассчёт предварительной заявки', 'Замер объекта нашим инженером', 'Составление Коммерческого предложения по изделиям дымохода и окончательной сметы на  работы', 'Изготовление Дымохода, покраска (если требуется)', 'Монтаж продукции, проверка и наладкапробный запуск системы и последующая эксплуатация', 'Гарантийное обслуживание по соответствующем сроку']
            each val, i in arr 
                li.mounting__services-item
                    .mounting__services-number
                    p.mounting__services-description #{val}