.samples
    &__container
        margin-bottom: 136px
    &__separator
        margin-bottom: 11px
    &__title
        font-family: semibold
        font-size: 40px
        margin-bottom: 66px
    &__text
        font-family: regular
        font-size: 16px
        margin-bottom: 48px
    &__photos
        display: flex
        flex-wrap: wrap
        gap: 30px
    &__item
        // max-width: 282px
        // flex-basis: calc((100%/4) - 90px)
        flex-shrink: 1
        flex-grow: 1
    &__item-image
        max-width: 282px
        max-width: 100%
        display: block