.consultation
    &__title
        font-size: 50px
        font-family: extraBold
        text-align: center
        // line-height: 40px
        margin-bottom: 29px
    
    &__action-call
        font-size: 22px
        font-family: light
        text-align: center
        margin-bottom: 46px
        // line-height: 40px
    &__social-wrapper
        display: flex
        justify-content: center
        margin-bottom: 39px
    &__social
        // margin: 0 auto
        width: 203px
        display: flex
        justify-content: space-between
    &__social svg path
        fill: $colorCarrot

    &__form-wrapper
        display: flex
        justify-content: center
    &__form-inner
        box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.15)
        padding: 57px 55px 61px 59px
    &__form-title
        font-size: 20px
        font-family: medium
        margin-bottom: 12px
    &__form-text
        font-family: regular
        font-size: 16px
        margin-bottom: 22px
    &__form-title--accent
        color: $colorCarrot
    &__form__field
        width: 240px
        height: 56px
        margin-right: 16px
    &__form__field::placeholder
        font-family: medium
        font-size: 14px
        padding-left: 17px
    &__form-button
        font-family: bold
        font-size: 16px
        width: 240px
        height: 56px
        color: #FFFFFF
        background-color: #215359
        border-radius: 4px
        border: none



