section.why 
    .container.why__container
        .separator.why__separator 
        h3.why__title Почему Дымоход.ру?
        p.why__text В отличие от других производителей, мы ручаемся за качество продукции, т.к. все Дымоходы изготавливаются из качественной стали, проверенного теплоизолятора, по современной технологии плазменной сварки «встык» 
        .why__advantages 
            .why__advantages-card
               include ../../assets/icons/guarantee.svg
               p.why__advantages-card-title Большой гарантийный срок
               p.why__advantages-card-text
                | Крепёж, стыковка элементов
                span.why__advantages-card-text--accent – 10 лет
               p.why__advantages-card-text
                | Крепёж, стыковка элементов
                span.why__advantages-card-text--accent – 10 лет
               p.why__advantages-card-text
                | Крепёж, стыковка элементов
                span.why__advantages-card-text--accent – 10 лет
            .why__advantages-card
                include ../../assets/icons/architect.svg
                p.why__advantages-card-title Помощь в покупке агрегата 
                p.why__advantages-card-text (печи, камина, котла), а также качественной установке на объекте с последующим гарантийным сервисом
            .why__advantages-card   
                include ../../assets/icons/review.svg
                p.why__advantages-card-title Реальные отзывы клиентов
                p.why__advantages-card-text Убедитесь в добросовестности исполнения, прочитав Отзывы клиентов в специальном разделе.

