section.hero
    .container.hero__container 
        h1.hero__title Монтаж дымоходов
        .hero__home 
            a(href="#").hero__home-link Главная
            span.hero__home-location Монтаж дымоходов
        p.hero__text
            | В 
            span.hero__text--accent Дымоход.ру
            |  вам помогут как приобрести, так и установить дымоход любой конфигурации. 
            |  В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, 
            |  которые ежегодно проходят курсы повышения квалификации. 
            |  Все работы проводим качественно и аккуратно, в короткий срок и на совесть.


