.social 
    a(href="#").social-link
        include ../../assets/icons/vk.svg
    a(href="#").social__link
        include ../../assets/icons/telegram.svg
    a(href="#").social__link
        include ../../assets/icons/instagram.svg
    a(href="#").social__link
        include ../../assets/icons/whatsapp.svg