.header
    &__container
        max-width: 1785px
        margin: 0 auto
    &__wrapper
        display: flex
        justify-content: space-between
        align-items: center
        padding: 26px 0
        margin-bottom: 30px
    &__logo
        width: 100px
        height: 100px
    &__burger
        width: 56px
        height: 56px
        background: transparent
        border-radius: 50%
        border: 1px solid $colorSecond
        cursor: pointer
    &__burger-line
        position: relative
        margin: auto
        width: 22px
        height: 1.83px
        border-radius: 5px
        border: none
        background-color: $colorSecond
        &::before
            position: absolute
            content: ''
            width: 22px
            height: 1.83px
            border-radius: 5px
            background-color: $colorSecond
            bottom: 7.33px
            left: 0
        &::after
            position: absolute
            content: ''
            width: 22px
            height: 1.83px
            border-radius: 5px
            background-color: $colorSecond
            top: 7.33px
            left: 0
        
    &__navigation
        // flex-basis: 665px
    &__navigation-link
        text-decoration: none
    &__navigation-list
        padding: 0
        display: flex
        gap: 37px
        justify-content: space-between
    &__navigation-item
        color: $colorSecond
        font-family: 'bold', sans-serif
        list-style-type: none

    &__phone-number
        font-family: 'light', sans-serif
        flex-basis: 161px
    &__phone-link
        text-decoration: none
        color: inherit
    &__phone-number--bold
        font-family: 'semiBold', sans-serif
    &__call-me
        flex-basis: 156px
    &__call-me-text
        font-family: bold
        color: $colorCherry
        border-bottom: 1px dotted
        margin: 0
        padding-bottom: 5px

    &__social
        display: flex
        justify-content: space-between
        flex-basis: 115px
    &__social-link
        text-decoration: none
    &__shopping-group
        flex-basis: 202px
    &__shopping-button
        position: relative
        border: 1px solid $colorGrey
        background-color: transparent
        border-radius: 50%
        width: 56px
        height: 56px
        &::after
            font-size: 11px
            color: #FFFFFF
            display: flex
            justify-content: center
            align-items: center
            content: '10'
            border-radius: 50%
            position: absolute
            top: 0
            right: 0
            width: 21px
            height: 21px
            background-color: $colorRed