header.header
    .container.header__container
        .header__wrapper
            a(href="#").header__logo 
                img(src='../../assets/images/Logo.png', alt='logo')
            button.header__burger
                .header__burger-line
            nav.header__navigation
                ul.header__navigation-list
                    a(href="#").header__navigation-link
                        li.header__navigation-item каталог товаров
                    a(href="#").header__navigation-link
                        li.header__navigation-item доставка и оплата 
                    a(href="#").header__navigation-link
                        li.header__navigation-item цены
                    a(href="#").header__navigation-link
                        li.header__navigation-item контакты
            .header__phone-wrapper
                a(href='tel:+78125092198').header__phone-link
                    p.header__phone-number
                        | +7 (812) 
                        span.header__phone-number.header__phone-number--bold 509 21 98 
            .header__call-me 
                p.header__call-me-text перезвоните мне
            .header__social
                include ../social/social
            .header__shopping-group 
                button.header__shopping-button
                    include ../../assets/icons/loupe.svg
                button.header__shopping-button
                    include ../../assets/icons/heart.svg
                button.header__shopping-button.header__shopping-button--cart
                    include ../../assets/icons/shopping-cart.svg



                    
        








