footer.footer 
    .container.footer__container
        .footer__inner
            .footer__catalog 
                p.footer__title.footer__title--catalog КАТАЛОГ
                ul.footer__list.footer__catalog-list--left
                    li.footer__catalog-item 
                        a(href="#").footer__link Дымоходы
                    li.footer__catalog-item
                        a(href="#").footer__link Дымососы
                    li.footer__catalog-item
                        a(href="#").footer__link Печи для дома
                    li.footer__catalog-item
                        a(href="#").footer__link Печи для бани
                ul.footer__list.footer__catalog-list--right 
                    li.footer__catalog-item
                        a(href="#").footer__link Камины
                    li.footer__catalog-item
                        a(href="#").footer__link Силикат кальция
                    li.footer__catalog-item
                        a(href="#").footer__link Котлы
                    li.footer__catalog-item
                        a(href="#").footer__link Ещё
            .footer__information
                p.footer__title.footer__title--information ИНФОРМАЦИЯ
                ul.footer__list.footer__information-list--left
                    li.footer__catalog-item
                        a(href="#").footer__link Дымоходы
                    li.footer__catalog-item
                        a(href="#").footer__link Дымососы
                    li.footer__catalog-item
                        a(href="#").footer__link Печи для дома
                    li.footer__catalog-item
                        a(href="#").footer__link Печи для бани
                ul.footer__list.footer__information-list--right
                    li.footer__catalog-item
                        a(href="#").footer__link Полезное
                    li.footer__catalog-item
                        a(href="#").footer__link Контакты
                    li.footer__catalog-item
                        a(href="#").footer__link Оплата и доставка
            .footer__worktime
                p.footer__title.footer__title--worktime ВРЕМЯ РАБОТЫ
                .footer__worktime-schedule
                    .footer__worktime-clock
                        include ../../assets/icons/wall-clock.svg
                    p.footer__worktime-text.footer__worktime-text--left
                        | пн-пт 
                        span.footer__worktime-text--accent 9:00 – 20:00
                    p.footer__worktime-text 
                        | сб-вс
                        span.footer__worktime-text--accent 10:00 – 18:00
                .footer__worktime-adress
                    .footer__worktime-placeholder
                        include ../../assets/icons/placeholder.svg
                    p.footer__worktime-text--accent.footer__worktime-text--adress г. Санкт - Петербург ,ул. Тамбасова д.7
                .footer__worktime-social 
                     include ../../assets/icons/vk.svg
                     include ../../assets/icons/telegram.svg
                     include ../../assets/icons/instagram.svg
                     include ../../assets/icons/whatsapp.svg
