section.breadcrumbs
    .container
        h1.breadcrumbs__title Монтаж дымоходов
        .breadcrumbs__home 
            a(href="#").breadcrumbs__home-link Главная
            span.breadcrumbs__home-location Монтаж дымоходов
        p.breadcrumbs__text
            | В 
            span.breadcrumbs__text--accent Дымоход.ру
            |  вам помогут как приобрести, так и установить дымоход любой конфигурации. 
            |  В нашем монтажном отделе, состоящим из трёх бригад работают квалифицированные специалисты, 
            |  которые ежегодно проходят курсы повышения квалификации. 
            |  Все работы проводим качественно и аккуратно, в короткий срок и на совесть.


