section.banner 
    .container.banner__container
        .banner__wrapper
            .banner__text-wrapper
                .banner__title-wrapper 
                    h3.banner__title-medium Lorem ipsum dolor sit amet
                    h2.banner__title-big Lorem ipsum
                .banner__advantage-wrapper
                    ul.banner__advantage-list
                        li.banner__advantage-item Доступные цены
                        li.banner__advantage-item Собственное производсвто  Дымоходов
                        li.banner__advantage-item Выполнение необходимых работ, связанных с установкой камина, печи, котла
                        li.banner__advantage-item Гарантия (от трёх до десяти лет)
                        li.banner__advantage-item Работаем чисто, аккуратно, убираем за собой, не сквернословим
                        li.banner__advantage-item Только русские квалифицированные специалисты
                        li.banner__advantage-item Устанавливаем любые дымоходы всех производителей
            img(src="../../assets/images/Group 20.png", alt="")