*,
*::before,
*::after 
  box-sizing: border-box

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd
    margin: 0

.container
    max-width: 1250px
    margin: 0 auto
    padding: 0 15px

// .separator
//     width: 74px
//     height: 5px
//     background-color: #E33E54

.section-title
    font-family: semibold
    font-size: 40px
    margin-bottom: 51px
    position: relative
    &::after
        position: absolute
        content: ''
        left: 0
        top: -11px
        width: 74px
        height: 5px
        background-color: #E33E54

.body
    font-size: 16px